html {
  height: 100vh;
  overflow: hidden;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  margin: 0;
  padding: 0;
  transform-style: preserve-3d;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

/**scroll bar**/
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: rgb(240, 181, 199);
}
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgb(196, 97, 138);
}

/**nav bar **/
header {
  position: absolute;
  background-color: #77000000;
  z-index: 4;
  width: 98%;
}

/**navigation**/
nav {
  background-color: white;
  border-radius: 15vh;
  width: 20%;
  height: 10vh;
  margin-left: 5%;
  margin-top: 3vh;
}

#FlexBoxNavigation {
  width: 95%;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row;
  justify-content: space-around;
}

.FlexBoxNavigationButton {
  display: flex;
  justify-content: center;
  background-color: rgba(137, 43, 226, 0);
  width: 13%;
  height: 7vh;
  margin-top: 1.5vh;
}

.FlexBoxNavigationButton > a > button {
  height: 100%;
  width: 15vh;
  border: none;
  border-radius: 4vh;
  background-color: rgb(240, 181, 199);
  color: white;
  font-size: 15pt;
  font-weight: 300;
  cursor: pointer;
}
.FlexBoxNavigationButton > a > button:hover {
  border-bottom-style: solid;
  border: solid rgb(72, 40, 107);
}

.headerUnderline {
  cursor: pointer;
  display: flex;
  position: relative;
  color: #a0a0a000;
  left: 1vh;
}
.headerUnderline:after {
  content: "";
  position: absolute;
  background-color: rgb(72, 40, 107);
  height: 3px;
  width: 0;
  bottom: -10px;
  transition: 0.3s;
}
.headerUnderline:hover:after {
  width: 80%;
  left: 1vh;
}

.parallax1 {
  /* The image used */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(img/nabajyoti-ray-0gZy38p9XJE-unsplash.jpg);
  margin: 0;
  padding: 0;
  /* Full height */
  height: 290vh;
}

.cardbox {
  display: flex;
  width: 100%;
  margin-bottom: 5vh;
  justify-content: space-around;
}

.cards {
  width: 40vh;
  height: 60vh;
  padding: 2rem 1rem;
  margin-top: 20vh;
  display: inline-block;

  transform-style: preserve-3d;
}
.cards .frontface {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5vh;

  align-items: center;
  backface-visibility: hidden;
  transition: 2s ease-in-out;
  transform: perspective(100vh) rotateY(0deg);
}

.cards .frontface.front {
  background: rgb(240, 181, 199);
}
.cards:hover .frontface.front {
  transform: perspective(100vh) rotateY(180deg);
}
.cards .frontface.backside {
  background: rgb(72, 40, 107);
  color: #fff;
  transform: perspective(100vh) rotateY(180deg);
}
.cards:hover .frontface.backside {
  transform: perspective(500px) rotateY(360deg);
}
.cards .frontface {
  transform: perspective(500px) translatez(20px);
}
.cards .frontface {
  transform: perspective(500px) translatez(20px);
}
.cards .frontface .BUYparfume {
  transform: perspective(500px) translatez(20px);
}
.textturn {
  text-align: center;
  font-size: 25pt;
  color: white;
}

.BUYparfume {
  margin-left: 15vh;
  text-align: center;

  background-color: gold;
  cursor: pointer;
  color: rgb(72, 40, 107);
  font-size: 25pt;
  width: 13vh;
  height: 7vh;
  border-radius: 2vh;
}
.photos {
  width: 100%;
  height: 45vh;
  border-top-left-radius: 5vh;
  border-top-right-radius: 5vh;
}

footer {
  background-image: url(img/meiying-ng-OrwkD-iWgqg-unsplash.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
}

ul {
  display: inline-block;
}
.links {
  color: white;
  font-size: 25px;
  list-style: none;
  cursor: pointer;
}
.links:hover {
  color: rebeccapurple;
}
.linksOO {
  margin-top: 5vh;
}

ul > a {
  text-decoration: none;
}

ul > a > li {
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.footerimg {
  width: 4vh;
  height: 4vh;
}
